.about {
	margin-top: 10px;
}

.hr-about-experience {
	width: 74%;
	height: 2px;
	margin: 0 12%;
	color: #eae3d2;
	background-color: #eae3d2;
	border: none;
}

@media (min-width: 320px) and (max-width: 428px) {
	.hr-about-experience {
		margin: 5% 12% 2% 12%;
	}
}
