.project-frame {
	display: grid;
	grid-template-columns: 600px 1fr 1fr;
	grid-gap: 40px;
	height: 400px;
	justify-content: space-around;
	background-color: #7fa1c3;
	margin: 3% 0;
}
.project-frame-2 {
	display: grid;
	grid-template-columns: 1fr 1fr 600px;
	grid-gap: 40px;
	height: 400px;
	justify-content: space-around;
	background-color: #7fa1c3;
	margin: 3% 0;
}

.content-pp {
	padding-top: 15px;
	letter-spacing: 1px;
}

.project-product h1 {
	color: #394867;
	font-family: "Rubik", sans-serif;
}

.project-product p {
	font-size: 18px;
	line-height: 30px;
	color: #f5eded;
}

.image-pp {
	height: 350px;
	width: 500px;
	margin-left: 10%;
	align-self: center;
	border: 2px solid #54719f;
}

.link-btn {
	align-self: center;
	margin-left: 25%;
}

.see-more-btn {
	height: 50px;
	width: 250px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #f5eded;
	background-color: #54719f;
	border: none;
}

.image-pp-2 {
	height: 350px;
	width: 500px;
	align-self: center;
	margin-left: 5%;
	border: 2px solid #54719f;
}

.see-more-btn-2 {
	height: 50px;
	width: 50%;
}

@media (min-width: 414px) and (max-width: 428px) {
	* {
		padding: 0;
		margin: 0;
	}

	.project-frame {
		/* display: block;
		height: 580px; */
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
		gap: 5px;
		justify-content: initial;
		align-items: center;
		height: 600px;
		margin: 0;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.project-frame-2 {
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
		gap: 5px;
		justify-content: initial;
		align-items: center;
		height: 450px;
		margin: 0;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.image-pp {
		height: 200px;
		width: 300px;
		margin-left: 15%;
		margin-top: 5%;
	}

	.image-pp-2 {
		grid-row: 1;
		height: 200px;
		width: 300px;
		margin-left: 15%;
		margin-top: 5%;
	}

	.content-pp {
		padding-top: 3%;
	}

	.project-frame-2 .content-pp {
		grid-row: 2;
	}

	.project-product h1 {
		text-align: center;
	}

	.project-product p {
		width: 90%;
		font-size: 14px;
		text-align: justify;
		padding-left: 5%;
	}

	.see-more-btn {
		margin-top: 3%;
		border-radius: 10px;
	}

	.see-more-btn-2 {
		grid-row: 3;
		margin: 0;
		/* margin-top: 3%; */
		border-radius: 10px;
	}

	.link-btn {
		margin-left: 20%;
		padding-bottom: 30px;
	}
}
